@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2199df;
  text-decoration: unset;
}

body {
  font-family: "Roboto", sans-serif;
}

.toasts-container {
  height: 100px;
}

@media screen and (max-width: 550px) {
  #header .title {
    font-size: 1.2rem;
  }
  #header .auth-options button {
    padding: 0 0.5rem;
    font-size: 0.9rem;
  }
}
